In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = num1 + num2
print("Sum:", result)

Enter the first number: 1
Enter the second number: 2
Sum: 3.0

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
max_num = max(num1, num2, num3)
print("Largest number:", max_num)
7

Enter the first number: 2
Enter the second number: 5
Enter the third number: 7
Largest number: 7.0

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 6
Even

In [ ]:
no = int(input("Enter a number: "))
factorial = 1
for i in range(1, no + 1):
    factorial *= i
print("Factorial:", factorial)

Enter a number: 7
Factorial: 5040

In [ ]:
base = float(input("Enter the length of the base: "))
height = float(input("Enter the height: "))
area = 0.5 * base * height
print("Area:", area)

Enter the length of the base: 6
Enter the height: 7
Area: 21.0

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2004
Leap year

In [ ]:
import math
ni = float(input("Enter a number: "))
sqrt = math.sqrt(ni)
print("Square root:", sqrt)

Enter a number: 78
Square root: 8.831760866327848

In [ ]:
a = input("Enter the first variable: ")
b = input("Enter the second variable: ")
a, b = b, a
print("Swapped variables: a =", a, "b =", b)

Enter the first variable: 4
Enter the second variable: 5
Swapped variables: a = 5 b = 4

In [ ]:
n = int(input("enter num:"))
r = 0
for i in range(0,n):
  r = r+i
print("sum of n natural numbers is:",r)

enter num:9
sum of n natural numbers is: 36

In [ ]:
nu = float(input("Enter a number: "))
if nu > 0:
    print("Positive")
elif nu < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 87
Positive

In [ ]:
text = input("Enter a string: ")
vowels = "AEIOUaeiou"
vowel_count = 0
for char in text:
    if char in vowels:
        vowel_count += 1
print("Number of vowels:", vowel_count)

Enter a string: aehg
Number of vowels: 2

In [ ]:
import math
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
gcd = math.gcd(num1, num2)
print("GCD:", gcd)

Enter the first number: 6
Enter the second number: 9
GCD: 3

In [ ]:
import random
random_num = random.randint(1, 100)
print("Random number:", random_num)

Random number: 22

In [ ]:
text = input("Enter a string: ")
reversed_text = text[::-1]
print("Reversed:", reversed_text)

Enter a string: ajay
Reversed: yaja

In [ ]:
tex = input("Enter a string: ")
if tex == tex[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: AKKA
Palindrome

In [ ]:
na = int(input("Enter a number: "))
divisors = []
for i in range(1, na):
    if na % i == 0:
        divisors.append(i)

if na == sum(divisors):
    print("Perfect number")
else:
    print("Not a perfect number")

Enter a number: 6
Perfect number

In [ ]:
length = float(input("Enter the length: "))
width = float(input("Enter the width: "))
area = length * width
print("Area of the rectangle:", area)

Enter the length: 5
Enter the width: 6
Area of the rectangle: 30.0

In [ ]:
side_length = float(input("Enter the side length of the cube: "))
volume = side_length ** 3
print("Volume of the cube:", volume)

Enter the side length of the cube: 4
Volume of the cube: 64.0

In [ ]:
no = int(input("Enter a number: "))
sum_of_digits = 0
while no > 0:
    digit = no % 10
    sum_of_digits += digit
    no //= 10
print("Sum of digits:", sum_of_digits)

Enter a number: 6
Sum of digits: 6

In [ ]:
import math
nu1 = int(input("Enter the first number: "))
nu2 = int(input("Enter the second number: "))
lcm = (nu1 * nu2) // math.gcd(nu1, nu2)
print("LCM:", lcm)

Enter the first number: 6
Enter the second number: 8
LCM: 24

In [ ]:
num = int(input("Enter a number: "))
square = num * num
num_str = str(num)
square_str = str(square)

if square_str.endswith(num_str):
    print(num, "is an automorphic number.")
else:
    print(num, "is not an automorphic number.")

Enter a number: 5
5 is an automorphic number.

In [ ]:
numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
print("Sum of list elements:", total)

Sum of list elements: 150

In [ ]:
original_list = [1, 2, 3, 4, 5]
reversed_list = original_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
numbers = [15, 30, 10, 45, 20]
max_value = max(numbers)
print("Maximum value:", max_value)

Maximum value: 45

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
count = my_tuple.count(2)
print("Number of 2s in the tuple:", count)

Number of 2s in the tuple: 3

In [ ]:
student = {"name": "Alice", "age": 25, "grade": "A"}
student["score"] = 95
student["age"] = 26
print("Updated dictionary:", student)

Updated dictionary: {'name': 'Alice', 'age': 26, 'grade': 'A', 'score': 95}

In [ ]:
numbers = [1, 2, 3, 4, 5]
squares = [x ** 2 for x in numbers]
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]

In [ ]:
unsorted_tuple = (3, 1, 4, 2, 5)
sorted_tuple = tuple(sorted(unsorted_tuple))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 5)

In [ ]:
tuple1 = (1, 2, 3, 4)
tuple2 = (3, 4, 5, 6)
intersection = tuple(x for x in tuple1 if x in tuple2)
print("Intersection:", intersection)

Intersection: (3, 4)

In [ ]:
str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")
is_anagram = sorted(str1) == sorted(str2)
if is_anagram:
    print("Anagrams")
else:
    print("Not anagrams")

Enter the first string: trg
Enter the second string: yhg
Not anagrams

In [ ]:
numbers = [10, 20, 5, 40, 30]
sorted_numbers = sorted(set(numbers))
if len(sorted_numbers) < 2:
    print("No second largest element")
else:
    print("Second largest element:", sorted_numbers[-2])

Second largest element: 30

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [ ]:
employee = {"name": "Sarah", "position": "Manager"}
if "salary" in employee:
    print("Salary:", employee["salary"])
else:
    print("Salary not found.")

Salary not found.

In [ ]:
num1 = float(input("Enter the first number: "))
operator = input("Enter the operator (+, -, *, /): ")
num2 = float(input("Enter the second number: "))

if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    result = num1 / num2
else:
    result = "Invalid operator"

print("Result:", result)

Enter the first number: 4
Enter the operator (+, -, *, /): -
Enter the second number: 6
Result: -2.0

In [ ]:
tt = input("Enter some text: ")
word_count = len(tt.split())
character_count = len(tt)

print(f"Word count: {word_count}")
print(f"Character count: {character_count}")

Enter some text: ythj
Word count: 1
Character count: 4